
.contayner {
    font-size: 50px;
    color: snow;
}

.popup_header{
    border-radius: 5px;
    width: 100%;
    background-color: #010b2c
}
.popup_body {
    border-radius:8px;
    width: 100%;
    background-color: #010b2c;
    height: 300px;
    flex-direction:column;
    display:flex;
    align-items:center;
}
.add_field_button {
    font-size:25px;
    padding:0;
    font-weight:bold;
}
.polygonTooltip {
    background-color: rgba(245, 182, 25, 0.84);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(96, 81, 2, 0.5);
}