
.contayner {
    font-size: 50px;
    color: snow;
}

.popup_header{
    border-radius: 5px;
    width: 100%;
    background-color: #010b2c
}
.popup_body {
    border-radius:8px;
    width: 100%;
    background-color: #010b2c;
    height: 300px;
    flex-direction:column;
    display:flex;
    align-items:center;
}
.add_field_button {
    font-size:25px;
    padding:0;
    font-weight:bold;
}