.materials_contayner{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
}
.information_container{
    width: 100%;
    border: 1px solid #3bfc07;
}
.task_material_information{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #559bc5;
}

.task_material_information_item{

}

