body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-popup-content-wrapper{
  background: #02125e !important;
}
.popup {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 9, 40, 0.96);
}
.close-button {
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
}
/* for material UI*/
.MuiOutlinedInput-notchedOutline{
  border-color: #01f6bd !important;
}
/*.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{*/
/*  color: #01f6bd !important;*/
/*}*/
#demo-simple-select-label{
  color: #01f6bd ;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: #01fa94 !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: #d1f6ee !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
  color: #01f6bd !important;
}
.css-1pnmrwp-MuiTypography-root{
  color: #01f6bd !important;
}
/*for leflet */
.leaflet-popup-close-button {
  color: white!important;
}
.leaflet-popup-tip {
  background: rgba(50, 1, 124, 0.97) !important;
}

/*data piker*/
.MuiFormLabel-root.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: #01f6bd  ;
}
.MuiInputBase-input.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  color: #01f6bd ;
}
.css-i4bv87-MuiSvgIcon-root{
  stroke: #01f6bd !important;
}
/*number field lable*/
.MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-outlined{
  color: #54ff00;
}