
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container > div{
    color: white;
}
.formlist{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.formlist li{
    display:flex;
    justify-content: space-between;
    padding-top:25px ;
}
.paper{
    background-color: #311515;
    width:320px;
    height:80vh;
    padding:25px;
}